In [1]:
import pandas as pd
import numpy as np

In [29]:
data = pd.read_csv('/Users/felixley/Ironhack/Data Analytics Course/Week1/Day4/lab-customer-analysis-round-5/files_for_lab/csv_files/marketing_customer_analysis.csv')
data.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import OneHotEncoder

In [ ]:
# Seperation

In [13]:
Y = data['Total Claim Amount']
X = data.drop(['Total Claim Amount'], axis=1)

In [31]:
X_num = data.select_dtypes(np.number)
X_cat = data.select_dtypes(np.object)

In [32]:
# Normalization

In [35]:
transformer = Normalizer().fit(X_num)
x_normalized = transformer.transform(X_num)
print(x_normalized.shape)

(9134, 8)

In [36]:
X_num_df = pd.DataFrame(x_normalized)

In [37]:
X_num_df.columns = X_num.columns

In [39]:
X_num_df.head()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
0,0.049048,0.998772,0.001225,0.000568,0.000089,0.0,0.000018,0.006830
1,0.987006,0.000000,0.013293,0.001838,0.005939,0.0,0.001131,0.160005
2,0.255478,0.966747,0.002141,0.000357,0.000753,0.0,0.000040,0.011230
3,0.997473,0.000000,0.013829,0.002348,0.008480,0.0,0.000913,0.069128
4,0.064055,0.997940,0.001662,0.000273,0.001002,0.0,0.000023,0.003145

In [11]:
# OneHotEncoding

In [40]:
X_cat.drop(['Customer', 'Effective To Date'], axis = 1, inplace = True)

/usr/local/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [41]:
OHE = OneHotEncoder(handle_unknown = 'ignore').fit(X_cat)

In [42]:
OHE.categories_

[array(['Arizona', 'California', 'Nevada', 'Oregon', 'Washington'],
       dtype=object),
 array(['No', 'Yes'], dtype=object),
 array(['Basic', 'Extended', 'Premium'], dtype=object),
 array(['Bachelor', 'College', 'Doctor', 'High School or Below', 'Master'],
       dtype=object),
 array(['Disabled', 'Employed', 'Medical Leave', 'Retired', 'Unemployed'],
       dtype=object),
 array(['F', 'M'], dtype=object),
 array(['Rural', 'Suburban', 'Urban'], dtype=object),
 array(['Divorced', 'Married', 'Single'], dtype=object),
 array(['Corporate Auto', 'Personal Auto', 'Special Auto'], dtype=object),
 array(['Corporate L1', 'Corporate L2', 'Corporate L3', 'Personal L1',
        'Personal L2', 'Personal L3', 'Special L1', 'Special L2',
        'Special L3'], dtype=object),
 array(['Offer1', 'Offer2', 'Offer3', 'Offer4'], dtype=object),
 array(['Agent', 'Branch', 'Call Center', 'Web'], dtype=object),
 array(['Four-Door Car', 'Luxury Car', 'Luxury SUV', 'SUV', 'Sports Car',
        'Two-Door Car'], dtype=object),
 array(['Large', 'Medsize', 'Small'], dtype=object)]

In [44]:
X_encoded = OHE.transform(X_cat).toarray()

In [45]:
X_cat_df = pd.DataFrame(X_encoded)

In [48]:
col_names_cat = ['Arizona', 'California', 'Nevada', 'Oregon', 'Washington','No', 'Yes','Basic', 'Extended', 'Premium', 'Bachelor', 'College', 'Doctor', 'High School or Below', 'Master','Disabled', 'Employed', 'Medical Leave', 'Retired', 'Unemployed','F', 'M','Rural', 'Suburban', 'Urban','Divorced', 'Married', 'Single','Corporate Auto', 'Personal Auto', 'Special Auto','Corporate L1', 'Corporate L2', 'Corporate L3', 'Personal L1','Personal L2', 'Personal L3', 'Special L1', 'Special L2','Special L3','Offer1', 'Offer2', 'Offer3', 'Offer4','Agent', 'Branch', 'Call Center', 'Web','Four-Door Car', 'Luxury Car', 'Luxury SUV', 'SUV', 'Sports Car','Two-Door Car','Large', 'Medsize', 'Small']

In [49]:
X_cat_df.columns = col_names_cat

In [50]:
X_cat_df.head()

,Arizona,California,Nevada,Oregon,Washington,No,Yes,Basic,Extended,Premium,...,Web,Four-Door Car,Luxury Car,Luxury SUV,SUV,Sports Car,Two-Door Car,Large,Medsize,Small
0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
#Concate the Data into new DataFrame

In [53]:
X_new = pd.concat([X_num_df, X_cat_df], axis = 1)

In [54]:
X_new.head()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount,Arizona,California,...,Web,Four-Door Car,Luxury Car,Luxury SUV,SUV,Sports Car,Two-Door Car,Large,Medsize,Small
0,0.049048,0.998772,0.001225,0.000568,0.000089,0.0,0.000018,0.006830,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.987006,0.000000,0.013293,0.001838,0.005939,0.0,0.001131,0.160005,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.255478,0.966747,0.002141,0.000357,0.000753,0.0,0.000040,0.011230,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.997473,0.000000,0.013829,0.002348,0.008480,0.0,0.000913,0.069128,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0.064055,0.997940,0.001662,0.000273,0.001002,0.0,0.000023,0.003145,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [56]:
X_new.shape

(9134, 65)

In [57]:
# Train Test Split

In [59]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [71]:
X_train, X_test, y_train, y_test = train_test_split(X_new, Y, test_size=0.3, random_state=100)
lm = linear_model.LinearRegression()
model = lm.fit(X_train, y_train)
predictions = lm.predict(X_test)
r2_score(y_test, predictions)

0.7314593489035601

In [74]:
## MSE

In [72]:
from sklearn.metrics import mean_squared_error

In [77]:
mean_squared_error(y_test, predictions, squared = True)

12983498.224564923

In [78]:
## RMSE

In [79]:
mean_squared_error(y_test, predictions)**0.5

3603.2621642845975

In [80]:
## MAE

In [81]:
from sklearn.metrics import median_absolute_error

In [82]:
median_absolute_error(y_test, predictions)

1717.8508870000005

In [83]:
## R2

In [84]:
from sklearn.metrics import r2_score

In [85]:
r2_score(y_test, predictions)

0.7314593489035601